.video-controls {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border: 0 none;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  @include media-netbook-mx {
    max-width: 604px;
  }
  @include media-netbook-mn {
    max-width: none;
  }

  &:hover {
    border: 0 none;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}
.video {
  display: block;
  margin: 0 auto;

  @include media-phablet-netbook {
    max-width: 604px;
  }
  @include media-phablet-mx {
    max-width: 100%;
  }
  @include media-netbook-mn {
    max-width: 100%;
  }
}
